header{
    border: 2px solid red;
    height: 60px;
    width: 100%;
    background-color: black;
    

}
img{
    height: 61px;
    width: 251x;
}
span{
    color: white;
    height: 400px;
}